html {background: url(../images/bg-wave.jpg) repeat-x -450px 0;}
body {background:transparent;}

#header {text-align:center; background:#000; background:rgba(0,0,0,.5); margin:33px 0 0 0; padding:.05em 0 .05em 0;font-family:"cinzel";text-transform:lowercase; border-width:1px 0 1px 0; border-style:solid; border-color:#fff; border-color:rgba(0,230,230,.5);}
  h1 {font-family:'mrs saint delafield'; text-transform:lowercase; font-size:5em; color:#fff; margin:.25em 0 0 0; text-shadow:0 0 10px rgba(255,255,255,.9);}
  .aka {margin:-1.75em 0 1.5em 8em; color:#97ccda; font-size:.8em; text-shadow:0 0 2px #000;}

.contact-info {list-style:none; padding:0; position:absolute; right:10px; top:30px; width:100px; background:#000;border-radius:100px;z-index:3;text-align:center;text-transform:lowercase; font-family:'cinzel';}
.contact-info:before, .contact-info:after {content:"\2013"; color:#666;}
.contact-info a, a[href^="mailto:"] {color:#97ccda; background:none; padding:0 !important;}

.nav {text-align:center; background:rgba(0,0,0,.5); margin:0 0 200px 0; padding:0; border-bottom:1px solid #fff; border-color:rgba(0,230,230,.5);}
.nav li {display:inline-block;}
.nav a {color:#97ccda; text-shadow:0 0 2px #000;}
.nav .back-to-top {display:none;}
.flat-nav {display:block;float:none;width:100%;position:fixed;top:0;padding:0;background:#000;margin:0; z-index:4;border-bottom:1px solid #fff; border-color:rgba(0,230,230,.5);}
.flat-nav ul {width:100%;padding:0;margin:0 auto; text-align:center;}
  .flat-nav li {display:inline;}
    .flat-nav a {color:#97ccda;background:transparent; display:inline-block;}
    .flat-nav a:hover {text-decoration:underline;}
    .flat-nav .current {color:#fff;background:#bb0000;}
    .flat-nav .back-to-top {display:inline-block; font-size:2em; line-height:1em; color:#fff; text-shadow:0 0 10px rgba(255,255,255,.9);font-family:'mrs saint delafield'; background: #000 url(../gui/images/back-to-top.png) no-repeat 5px 6px;border-radius:0;padding-left:.75em; text-transform: lowercase;letter-spacing:0; margin:0 .5em 0 0;}
    .flat-nav .back-to-top:hover {color:#97ccda; text-decoration:none;}

.section {padding:10px; background:#fff;}

.tiles {padding:0; list-style:none; width:100%;}
  .bg_banners li:hover, .tiles li:hover {outline-color:#336699;}
  .bg_banners li, .tiles li {position:relative;float:left;display:block;overflow:hidden; outline:1px solid #333; box-shadow:0 0 10px 0 rgba(0,0,0,.25); background-color:#000;}
  .tiles img {display:block;margin:0 auto;}

.design {background:#000;}
.woodworking {background:url(../images/tile_wood3.png) repeat top left;border:1px solid #663E23; border-width:1px 0 1px 0;}
.photography {background:#000;}
  .design h3, .photography h3 {color:#97ccda; background:transparent; border:0;}
  .woodworking h3 {color:rgb(211, 166, 125); background:transparent; border:0;}

.completed-works ul, .bookshelves ul {list-style:none; padding:0;}
  .status:before {color:#fff; margin-right:.75em; font-size:.6em; padding:.25em .75em .25em .5em;}
  .to-be-published:before {content:"TO BE PUBLISHED"; background:#000; }
  .on-deck:before {content:"ON DECK"; background:#1179fe;}
  .in-progress:before {content:"IN PROGRESS"; background:#c00;}
  .completed:before {content:"\2713"; color:#666;}
  .in-progress {color:#c00;}
  .completed {color:#666; background:#fff;}

  .skills ul {list-style:none; padding:0; margin:0;}
  .skills li {margin-bottom:1px; position:relative;}
  .bar-chart {display:inline-block; position:absolute; z-index:1;}
  .skill {z-index:2; position:relative; display:inline-block; padding:0 .5em 0 .5em;}
  .skill-flag {position:absolute; z-index:2; top:7px;display:inline-block; color:#000; font-size:.6em; font-style:italic; font-weight:600; font-family:'rock salt'}
  .skill-flag:before {content: "\2014 \2009";}

.bookshelf ul {margin:0;}

.link-set {float:left; margin:1em .5em 1em .5em;}
  .labelmaker{display:inline-block;text-transform:uppercase;font-weight:200;background:#cc0000;padding:7px 5px 5px 5px;font-size:.8em;color:#fff;letter-spacing:1px;margin:.25em .25em .25em 0;border-bottom:1px solid transparent;}
  .labelmaker:hover {background:#700;text-decoration:none;border-bottom:1px solid #FFF;}
  .more {color:#c00; font-style:italic; display:inline-block; margin:0 3px 0 10px; text-shadow:0 1px 3px #000;}
  .more:after {content:" \2192"; color:#c00;}

h2, h3, h4, h5, h6 {font-family:'cinzel'}
h2 {display:inline-block; color:#fff; background:#c00; padding:.25em .5em;}
h3 {padding:.25em; margin-bottom:0;border-bottom:1px solid #000;-webkit-border-image:-webkit-gradient(linear,left center,right center,from(rgba(0,0,0,.0)),color-stop(0.20,rgba(0,0,0,.75)),color-stop(0.80,rgba(0,0,0,.75)),color-stop(100%,rgba(0,0,0,.0))) 0 0 100 0; }

blockquote {font-family: Georgia, serif;font-size: 1.3em;font-style: italic;margin: .25em .5em;;padding: .25em 40px;line-height: 1.45;position: relative;color:#567594;}
  blockquote:before {display: block;content: "\201C";font-size: 5em;position: absolute;left: -20px;top: -20px;color: #97ccda;}
  blockquote cite {color: #aaa;font-size: .8em;display: block;margin-top: 5px;}
  cite:before {content: "\2014 \2009";}


@media all and (min-width:1281px){
  .bg_banners li, .tiles li {width:16.15%; height:300px; margin:0 .5% .5% 0;}
  .tiles img {min-width:300px; min-height:300px; max-width:452px; max-height:auto;}
}
@media all and (max-width:1280px){
  .bg_banners li, .tiles li {width:24.25%; height:300px;margin:0 .75% .75% 0;}
  .tiles img {min-width:300px; min-height:300px; max-width:452px; max-height:452px;}
}
@media all and (max-width:1024px){
  .bg_banners li, .tiles li {width:24.25%; height:250px;margin:0 .75% .75% 0;}
  .tiles img {min-width:250px; min-height:250px; max-width:377px; max-height:377px;}
}
@media all and (max-width:800px){
  .bg_banners li, .tiles li {width:32.3%; height:250px;margin:0 1% 1% 0;}
  .tiles img {min-width:250px; min-height:250px; max-width:377px; max-height:377px;}
}
@media all and (max-width:640px){
  .bg_banners li, .tiles li {width:48.75%; height:250px;margin:0 1.25% 1.25% 0;}
  .tiles img {min-width:300px; min-height:300px; max-width:452px; max-height:452px;}
}
@media all and (max-width:530px){
  h1, .aka {margin-left:-40px;}
  .bg_banners li, .tiles li {width:48.45%; height:225px;margin:0 1.5% 1.5% 0;}
  .tiles img {min-width:250px; min-height:250px; max-width:400px; max-height:400px;}
}
@media all and (max-width:420px){
  .contact-info {position:fixed; left:0; top:0px; width:100%; background:#000;border-radius:0;z-index:3;text-align:center;text-transform:lowercase; font-family:'cinzel';}
  .contact-info li {display:inline-block; margin:0 .5em 0 .5em;}
  .bg_banners li, .tiles li {width:48%; height:175px;margin:0 2% 2% 0;}
  .tiles img {min-width:200px; min-height:200px; max-width:301px; max-height:301px;}
}