html {
  min-height: 100%;
  background: black url(../images/bg/wood.jpg) fixed repeat top center; }

body {
  min-height: 100%;
  font-weight: 200;
  color: #ffffcc;
  font-size: 1.1em;
  background: -moz-radial-gradient(top, circle cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.7) 100%) fixed;
  background: -webkit-gradient(radial, top center, 0px, center center, 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(30%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.7))) fixed;
  background: -webkit-radial-gradient(top, circle cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.7) 100%) fixed;
  background: -o-radial-gradient(top, circle cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.7) 100%) fixed;
  background: -ms-radial-gradient(top, circle cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.7) 100%) fixed;
  background: radial-gradient(circle at top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.7) 100%) fixed;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 ); }

#header {
  position: relative;
  text-align: center;
  margin: 0;
  padding: .05em 0 .05em 0;
  font-family: "cinzel";
  text-transform: lowercase; }

h1 {
  font-family: 'Amatic SC';
  text-transform: none;
  font-size: 5em;
  color: #fff;
  margin: .25em 0 .5em 0;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.9); }

.variant1 {
  font-family: 'Amatic SC'; }

.variant2 {
  font-family: 'Cabin Sketch'; }

.variant3 {
  font-family: 'Fredericka the Great'; }

.variant4 {
  font-family: 'Princess Sofia'; }

.e {
  font-family: 'Romanesco'; }

.f {
  font-family: 'Lova Ya Like A Sister'; }

.g {
  font-family: 'Sarina'; }

.i {
  font-family: 'Euphoria Script'; }

.j {
  font-family: 'La Belle Aurore'; }

.l {
  font-family: 'Ultra'; }

.m {
  font-family: 'Great Vibes'; }

.n {
  font-family: 'Patua One'; }

.o {
  font-family: 'Meriena One'; }

.p {
  font-family: 'Alex Brush'; }

.q {
  font-family: 'Oswald'; }

.r {
  font-family: 'Mr De Haviland'; }

.s {
  font-family: 'Rokkitt'; }

.t {
  font-family: 'Kaushan Script'; }

.u {
  font-family: 'Cutive'; }

.w {
  font-family: 'Lorinda Sketch'; }

.x {
  font-family: 'Handlee'; }

.y {
  font-family: 'Press Start 2P'; }

.z {
  font-family: 'Seaweed Script'; }

.z1 {
  font-family: 'Stint Ultra Condensed'; }

.z2 {
  font-family: 'Allura'; }

.z3 {
  font-family: 'Flavors'; }

.z4 {
  font-family: 'Lemon'; }

.z5 {
  font-family: 'Raleway Dots'; }

.z6 {
  font-family: 'Cinzel Decorative'; }

.z7 {
  font-family: 'Tienne'; }

.z9 {
  font-family: 'Stoke'; }

.z10 {
  font-family: 'Roboto Slab'; }

.z11 {
  font-family: 'Nothing You Could Do'; }

.z12 {
  font-family: 'Mrs Saint Delafield'; }

.z13 {
  font-family: 'Cinzel'; }

.z14 {
  font-family: 'Rock Salt'; }

.z15 {
  font-family: 'Open Sans'; }

.aka {
  margin: 0em 0 1.5em 0em;
  color: #97ccda;
  font-size: 3em;
  text-shadow: 0 0 2px #000;
  text-transform: none; }

.aka span:nth-child(1) {
  display: block;
  margin: 0 0 0 0em; }

.aka span:nth-child(2) {
  display: block;
  clear: both;
  margin: -.4em 0 0 1em; }

.aka span:nth-child(3) {
  display: block;
  margin: -.5em 0 0 3.5em; }

.contact-info ul {
  padding: 0;
  list-style: none; }

.contact-info li {
  background-color: rgba(255, 255, 255, 0.1);
  display: inline-block;
  border-radius: 1em; }

.contact-info a {
  display: block;
  width: 120px;
  height: auto;
  color: #fff;
  padding: 6.5em 1em 1em 1em;
  font-size: 1.4em;
  background-repeat: no-repeat;
  background-position: center 1em; }

.contact-info li:hover {
  background-color: rgba(255, 255, 255, 0.2); }

.email a {
  background-image: url(../images/email.png); }

.github a {
  background-image: url(../images/github.png); }

.blogger a {
  background-image: url(../images/blogger.png); }

.flickr a {
  background-image: url(../images/flickr.png); }

.section {
  width: 960px;
  margin: 0 auto 2em auto; }

.tiles, .wood, .work {
  list-style: none;
  padding: 0; }

.tiles li, .wood li {
  display: inline-block; }

.bookshelves ul {
  list-style: none;
  padding: 0 0 0 3em; }

.bookshelves li {
  margin: 0 0 .75em 0;
  line-height: 1.1; }

.bookshelves a {
  color: #ffffcc;
  display: inline-block;
  padding-left: .5em; }

.status:before {
  color: #fff;
  margin: 0 0 0 -5em;
  font-size: .6em;
  padding: .25em;
  display: inline-block;
  width: 3.5em;
  vertical-align: top;
  font-weight: bold;
  text-align: center;
  color: #000; }

.soon:before {
  content: "SOON";
  background: #97ccda; }

.active:before {
  content: "ACTIVE";
  background: #fc0; }

.completed:before {
  content: "\2713";
  color: #fff;
  text-align: right; }

h2, h3, h4, h5, h6 {
  font-family: 'cinzel'; }

h2 {
  padding: .25em .5em;
  margin: 1.5em 0 0 0;
  text-align: center;
  color: #fff;
  font-size: 3em; }

h3 {
  display: inline-block;
  color: #fff;
  background: #c00;
  padding: .25em .5em;
  margin-bottom: 0; }

h4 {
  padding-top: .25em;
  border-top: 1px dashed #ddd;
  margin-top: 0; }

.highlight {
  background: #B8E1FF; }

blockquote {
  font-family: Georgia, serif;
  font-size: 1.15em;
  font-style: italic;
  margin: -2em .5em -4em .5em;
  padding: 0px;
  line-height: 1;
  position: relative;
  color: #567594; }

blockquote:before {
  display: inline-block;
  content: "\201C";
  font-size: 5em;
  color: #97ccda;
  position: relative;
  top: 30px;
  left: -15px; }

blockquote:after {
  display: inline-block;
  content: "\201D";
  font-size: 5em;
  color: #97ccda;
  position: relative;
  top: -.9em;
  right: -100%; }

blockquote cite {
  color: #aaa;
  font-size: .8em;
  display: block;
  margin: 0px; }

cite:before {
  content: "\2014 \2009"; }

a {
  color: #c00; }
