/*
Sass::SyntaxError: ".process-step span" failed to @extend "%circled".
The selector "%circled" was not found.
Use "@extend %circled !optional" if the extend should be able to fail.


Backtrace:
/Users/steve/Dropbox/gildedrain.github.com/sass/portfolios.scss:11
/Users/steve/.gem/ruby/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/extend.rb:62:in `block in check_extends_fired!'
/Users/steve/.gem/ruby/2.6.0/gems/sass-3.4.25/lib/sass/util/subset_map.rb:105:in `block in each_value'
/Users/steve/.gem/ruby/2.6.0/gems/sass-3.4.25/lib/sass/util/subset_map.rb:105:in `each'
/Users/steve/.gem/ruby/2.6.0/gems/sass-3.4.25/lib/sass/util/subset_map.rb:105:in `each_value'
/Users/steve/.gem/ruby/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/extend.rb:51:in `check_extends_fired!'
/Users/steve/.gem/ruby/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/extend.rb:16:in `visit'
/Users/steve/.gem/ruby/2.6.0/gems/sass-3.4.25/lib/sass/tree/root_node.rb:39:in `css_tree'
/Users/steve/.gem/ruby/2.6.0/gems/sass-3.4.25/lib/sass/tree/root_node.rb:20:in `render'
/Users/steve/.gem/ruby/2.6.0/gems/sass-3.4.25/lib/sass/engine.rb:284:in `render'
/Users/steve/.gem/ruby/2.6.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:494:in `update_stylesheet'
/Users/steve/.gem/ruby/2.6.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/steve/.gem/ruby/2.6.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:209:in `each'
/Users/steve/.gem/ruby/2.6.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/steve/.gem/ruby/2.6.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:294:in `watch'
/Users/steve/.gem/ruby/2.6.0/gems/compass-1.0.3/lib/compass/sass_compiler.rb:46:in `watch!'
/Users/steve/.gem/ruby/2.6.0/gems/compass-1.0.3/lib/compass/commands/watch_project.rb:41:in `perform'
/Users/steve/.gem/ruby/2.6.0/gems/compass-1.0.3/lib/compass/commands/base.rb:18:in `execute'
/Users/steve/.gem/ruby/2.6.0/gems/compass-1.0.3/lib/compass/commands/project_base.rb:19:in `execute'
/Users/steve/.gem/ruby/2.6.0/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/steve/.gem/ruby/2.6.0/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/steve/.gem/ruby/2.6.0/gems/compass-1.0.3/bin/compass:30:in `block in <top (required)>'
/Users/steve/.gem/ruby/2.6.0/gems/compass-1.0.3/bin/compass:44:in `<top (required)>'
/usr/local/bin/compass:23:in `load'
/usr/local/bin/compass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Sass::SyntaxError: \".process-step span\" failed to @extend \"%circled\".\A The selector \"%circled\" was not found.\A Use \"@extend %circled !optional\" if the extend should be able to fail.\A "; }
