@import "compass/css3";
// NAV STYLES ----------------------------
.nav {
	background:#003151;
}
.nav-item {
	display:block;
	padding:3px 10px;
	margin:0 1vw 1vw 1vw;
	font-family:'Rock Salt', sans-serif;
	font-size:1.5em;
	background-color:#FFF;
	border:1px solid rgba(17,57,104,.25);
	border-width:1px;
}
.nav .email svg {
	display:block;
	top:-5px;
	width:38px;
	fill:#4576AE;
}
.nav .email:hover svg {
	fill:#fff;
}
.nav ul {
	height:300px;
	display:flex;
	align-items:flex-start;
	justify-content: center;
	margin:0;
	padding:0;
	list-style:none;
	background-color: #333333; // Old browsers
	@include filter-gradient(#333333, #253950, vertical); // IE6-9
	@include background-image(linear-gradient(top, #333333 0%,#253950 100%));
}
.nav li {
	display:inline-block;
	padding:0;
}
.nav a {
	display:flex;
	height:100px;
	width:100px;
	margin:20px;
	padding:0;
	border:0;
	fill:#FFF;
	background-color:transparent; 
	background-repeat: no-repeat; 
	background-position:0 0;
	transition:fill .25s, background .25s, border-radius .25s;
	align-items:center;
	text-align:center;
	
}
.nav a:hover {
	box-shadow:none;
	border-radius:none;
	padding:0;
	background-color:transparent;
	border-radius:100%;
	background:#fff;
	fill:black;
}
.nav a:hover .tooltip {
	display:block;
}
.nav svg {
	display:inline-block;
	height:50px;
	margin:0 auto;
	fill:#1179fe;
}
.linkedin svg {
	height:35px;
}
.nav-item.current {
	
}