@import "compass/css3";

// #STRUCTURE STYLES --------------------------------------------------------------- //
body {
	background:#003151 url(../images/paper.jpg) no-repeat center center fixed;
	background-size:cover;
	color:#fff;
	font-family:'Averia Serif Libre', sans-serif;
	font-weight:300;
	padding:0;
	margin:0;
}
h1, h2, h3, h4, h5, h6, p, li, a {
	text-shadow:0 2px 2px #000;
}
.intro {
	font-size:1.75rem;
	width:80%;
	max-width:1000px;
	margin:2em auto 0 auto;
	justify-content:center;
}
.intro p {
	padding:0 50px 0 50px;
}
.intro .div1 {
	opacity:.25;
	height:250px;
	width:220px;
	background:url(../images/brackets.png) no-repeat center left;
	background-size:175%;
}
.intro .div2 {
	opacity:.25;	
	height:250px;
	width:220px;
	background:url(../images/brackets2.png) no-repeat right center;
	background-size:175%;
}
.section {
	width:80%;
	max-width:1000px;
	margin:0 auto;
	font-size:1.15rem;
}
.section p {
	line-height:1.5;
}
.flexrow {
	display:flex;
	flex-flow:row nowrap;	
}
.col1 {
	width:33%;
}
.col2 {
	width:40%;
}
.col3 {
	width:27%;
}
.footer {
	text-align:center;
	padding:2rem 0 0 0;
	margin:3rem 0 0 0;
}
// #TEXT & IMAGE STYLES ---------------------------------------------------------------- //
.hello {
	display:block; 
	margin:0 auto;
}
h1 {
	font-size:3rem;
	text-align:center;
	margin:0 0 2rem 0;
}
h2 {
	font-size:2rem;
	margin:0 0 3rem 0;
	text-shadow:none;
}
h3 {
	margin:0rem 0 .5rem 0;
	font-size:1.75rem;
	font-family:'Antic', sans-serif;
	clear:both;
	font-weight:400;
	color:#68aeff;
	text-shadow:none;
}
h4 {
	font-size:1.35rem;
	color:#337ca1;
	text-shadow:none;
}
hr {
	display:block;
	border-width:0;
	background:url(../images/flourish32.png) no-repeat center center;
	height:21px;
	background-size:90% 60%;
	margin-top:2rem;
	margin-bottom:2rem;
	opacity:.25;
}
.section hr {
	background-image:url(../images/flourish2.png);
	background-size:90% 20%;
}
.section ul {
	padding-left:2rem;
}
.section li {
	line-height:1.5;
	list-style-image: url(../images/box2.png);
	color:#759fd0;
}
.subsection img {
	margin-right:1em;
	margin-bottom:1em;
}
.stretch {
	display:block;
	width:100%;
	max-width:1500px;
	max-height:1000px;
	margin:0 auto 0 auto;
	background:#FFF;
}
.resume li {
	list-style-image: url(../images/check2.png);
}
.awards.flexrow {
	flex-flow:row wrap;
}
.awards img {
	height:125px;
	width:125px;
	padding-right:10px;
}
.footer .highlight {
	background:#FFF;
	color:#222;
	text-shadow:none;
	padding:0 5px 0 5px;
}
.footer h2 {
	margin-bottom:0;
}
// #LINK STYLES ----------------------------------------------------------------- //
a {
	position:relative;
	display:inline-block;
	color:#00e6ff;
	text-decoration:none;
	top:0px;
  	transition: top .033s ease;
	text-shadow:0 2px 2px rgba(0,0,0,.25);
}
a:hover {
	text-decoration:underline;
	top:2px;
}
.button {
	background: rgb(204,0,0);
	background: -moz-linear-gradient(top,  rgba(204,0,0,1) 0%, rgba(153,0,0,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(204,0,0,1) 0%,rgba(153,0,0,1) 100%);
	background: linear-gradient(to bottom,  rgba(204,0,0,1) 0%,rgba(153,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0000', endColorstr='#990000',GradientType=0 );
	color:#FFF;
	padding-left:5px;
	padding-right:5px;
	border-radius:5px;
	box-shadow:0px 2px 2px rgba(0,0,0,.25);
	border:1px solid rgba(255,255,255,.3);
}
#myapproach, #mywork, #myresume {
	display:block;
	margin:0 0 5.5rem 0;
}
.circle {
	display:inline-block;
	height:300px;
	width:240px;
	padding-top:50px;
	background:url(../images/circle2.png) no-repeat center 8px;
}
// MEDIA QUERIES -----------------------------------------------------------//
@media (max-width: 1240px) {
//	.intro.flexrow {
//		display:block;
//		padding:0;
//		width:370px;
//		margin:0 auto;
//	}
//	.col1, .col2, .col3 {
//		width:100%;
//	}
}
@media (max-width: 900px) {
	.subsection img {
		height:150px;
		width:150px;
	}
}
@media (max-width:600px) {
	.flexrow {
		display:block;
	}
	.intro.flexrow {
		display:flex;
	}
	.subsection img {
		width:100%;
		height:auto;
	}
}
