@import "compass/css3";

// MAIN STRUCTURE ----------------------------
body {
margin:0 auto;
background:#fff;
color:#222;
font-family:'Averia Serif Libre', sans-serif;
font-weight:300;
padding-bottom:15rem;
}
// CORE TYPOGRAPHY ---------------------------
.hello {
	display:block; 
	margin:0 auto;
}
h1 {
	font-size:3rem;
	text-align:center;
	margin:0;
}
.center {
	margin:0 auto;
}
.flexrow {
	display:flex;
	flex-flow:row nowrap;	
}
.intro {
	font-size:1.2rem;
	width:80%;
	max-width:1000px;
	margin:2em auto 0 auto;
	justify-content:center;
}
.intro div {
}
.col1 {
	width:33%;
}
.col2 {
	width:40%;
}
.col3 {
	width:27%;
}
.intro p {
	line-height:1.55;
	padding-bottom:10px;
	padding-left:15px;
	margin:.25em 0 0 0;
}
.underline {
	display:inline-block;
	background-repeat:no-repeat;
	background-position:0 23px;
	background-size:150% 30%;
	background-image:url(../images/underline.gif);	
}
.section {
	width:80%;
	max-width:1000px;
	margin:0 auto;
	font-size:1.15rem;
}
h2 {
	font-size:2rem;
	margin:0 0 3rem 0;
}
h2 .underline {
	background-position:0 30px;
}
.iam, .iwant, .imready {
	background-position:0 0;
	background-repeat:no-repeat;
	padding-left:65px;
	padding-top:7px;
	height:50px;
	margin-left:-50px;
	margin-bottom:10px;
	background-size:50px;
}
.iam {
	background-image:url(../images/iam.png);
}
.iwant {
	background-image:url(../images/imdriven.png);
}
.imready {
	background-image:url(../images/imready.png);
}
.subsection img {
	margin-right:1em;
	margin-bottom:1em;
}
h3 {
	margin:0rem 0 .5rem 0;
	font-size:1.75rem;
	font-family:'Nothing You Could Do', sans-serif;
	clear:both;
	font-weight:400;
	color:#4576AE;
}
h4 {
	font-size:1.5rem;
}
a {
	position:relative;
	display:inline-block;
	color:#4576AE;
	text-decoration:none;
	top:0px;
  	transition: top .033s ease;
}
a:hover {
	text-decoration:underline;
	background:#990000;
	top:2px;
}
.button {
	background: rgb(204,0,0);
	background: -moz-linear-gradient(top,  rgba(204,0,0,1) 0%, rgba(153,0,0,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(204,0,0,1) 0%,rgba(153,0,0,1) 100%);
	background: linear-gradient(to bottom,  rgba(204,0,0,1) 0%,rgba(153,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0000', endColorstr='#990000',GradientType=0 );
	color:#FFF;
	padding-left:5px;
	padding-right:5px;
	border-radius:5px;
	box-shadow:0px 2px 2px rgba(0,0,0,.25);
}
hr {
	display:block;
	border-width:0;
	background:url(../images/flourish3.png) no-repeat center center;
	height:21px;
	background-size:90% 60%;
	margin-top:3rem;
	margin-bottom:2rem;
	opacity:1;
}
.section hr {
	background-image:url(../images/flourish.png);
	background-size:90% 20%;
}
.circle {
	display:inline-block;
	height:300px;
	width:240px;
	padding-top:50px;
	background:url(../images/circle.png) no-repeat center 8px;
}
.stretch {
	display:block;
	width:100%;
	max-width:1500px;
	max-height:1000px;
	margin:0;
}
ul {
	padding-left:2rem;
}
li {
	line-height:1.5;
	list-style-image: url(../images/box.png);
}
.resume li {
	list-style-image: url(../images/check.png);
}
.awards.flexrow {
	flex-flow:row wrap;
}
.awards img {
	height:125px;
	width:125px;
}
.footer {
	text-align:center;
	padding-top:3rem;
}
@media (max-width: 1240px) {
	.intro.flexrow {
		display:block;
		padding:0;
		width:370px;
		margin:0 auto;
	}
	.col1, .col2, .col3 { 
		width:100%;
	}
}
@media (max-width: 900px) {
	.subsection img {
		height:150px;
		width:150px;
	}
}
@media (max-width:600px) {
	.flexrow {
		display:block;
	}
	.subsection img {
		width:100%;
		height:auto;
	}
}
